<a href="https://colab.research.google.com/github/Malonadata/AmplitudeVersusOffset/blob/main/Penginputan_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Benar_44 = pd.read_csv("https://www.dropbox.com/s/fy4oxmciv4pkylj/Benar-44.csv?dl=1", sep = ";")
Benar_44

       DEPTH       GR        DT       DTS     DRES    RHOB
0      700.0  82.7897 -999.2500  171.6312   1.3829  2.0195
1      700.5  84.8998 -999.2500  170.1264   0.9854  1.9719
2      701.0  89.7544 -999.2500  169.4135   0.8453  1.9374
3      701.5  90.5153 -999.2500  168.3756   0.7940  1.9504
4      702.0  94.1483 -999.2500  169.0359   0.9666  1.9770
...      ...      ...       ...       ...      ...     ...
3892  2646.0  71.7225   73.5504  130.6303  64.9451  2.4426
3893  2646.5  71.7225   73.5504  130.6303  75.6984  2.4426
3894  2647.0  71.7225   73.5504  130.6303  81.0247  2.4426
3895  2647.5  71.7225   73.5504  130.6303  79.8131  2.4426
3896  2648.0  71.7225   73.5504  130.6303  79.1355  2.4426

[3897 rows x 6 columns]

In [ ]:
DT = Benar_44['DT']
DTS = Benar_44["DTS"]
VP = 1000000/DT
VS = 1000000/DTS
Poisson = (VP**2 -2*VS**2)/(2*(VP**2-VS**2)) 
Benar_44['DTS'] = DTS
Benar_44['VP'] = VP
Benar_44['VS'] = VS
Benar_44['Poisson'] = Poisson
Benar_44

,DEPTH,GR,DT,DTS,DRES,RHOB,VP,VS,Poisson
0,700.0,82.7897,-999.2500,171.6312,1.3829,2.0195,-1000.750563,5826.446474,1.015199
1,700.5,84.8998,-999.2500,170.1264,0.9854,1.9719,-1000.750563,5877.982488,1.014926
2,701.0,89.7544,-999.2500,169.4135,0.8453,1.9374,-1000.750563,5902.717316,1.014797
3,701.5,90.5153,-999.2500,168.3756,0.7940,1.9504,-1000.750563,5939.102815,1.014611
4,702.0,94.1483,-999.2500,169.0359,0.9666,1.9770,-1000.750563,5915.903071,1.014730
...,...,...,...,...,...,...,...,...,...
3892,2646.0,71.7225,73.5504,130.6303,64.9451,2.4426,13596.119124,7655.191789,0.267918
3893,2646.5,71.7225,73.5504,130.6303,75.6984,2.4426,13596.119124,7655.191789,0.267918
3894,2647.0,71.7225,73.5504,130.6303,81.0247,2.4426,13596.119124,7655.191789,0.267918
3895,2647.5,71.7225,73.5504,130.6303,79.8131,2.4426,13596.119124,7655.191789,0.267918
3896,2648.0,71.7225,73.5504,130.6303,79.1355,2.4426,13596.119124,7655.191789,0.267918

In [ ]:
Benar_44 
Benar_44.to_csv('Benar_44', index = False, sep = ";")

In [ ]:
Top_ShaleA= Benar_44.loc[3298:3470, :]
Top_ShaleA = Top_ShaleA[Top_ShaleA['VP']>0]
Top_ShaleA = Top_ShaleA[Top_ShaleA['VS']>0]
Top_ShaleA = Top_ShaleA[Top_ShaleA['RHOB']>0]

print(Top_ShaleA['VP'].mean())
print(Top_ShaleA['VS'].mean())
print(Top_ShaleA['RHOB'].mean())

9297.200938698596
4618.9419087920905
2.3747838150289016

In [ ]:
SandA = Benar_44.loc[3470:3502, :]

SandA = SandA[SandA['VP']>0]
SandA = SandA[SandA['VS']>0]
SandA = SandA[SandA['RHOB']>0]

print(SandA['VP'].mean())
print(SandA['VS'].mean())
print(SandA['RHOB'].mean())

9907.88933601658
4899.991129624946
2.1909636363636364

In [ ]:
Base_ShaleA = Benar_44.loc[3502:3546, :]
Base_ShaleA = Base_ShaleA[Base_ShaleA['VP']>0]
Base_ShaleA = Base_ShaleA[Base_ShaleA['VS']>0]
Base_ShaleA = Base_ShaleA[Base_ShaleA['RHOB']>0]

print(Base_ShaleA['VP'].mean())
print(Base_ShaleA['VS'].mean())
print(Base_ShaleA['RHOB'].mean())

9442.37078667098
4866.483069846009
2.270288888888889